* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
    vertical-align: middle;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.col-2 p {
    color: #555;
    margin: 0 20px;
}

.container {
    max-height: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 20px;
}

.btn {
    display: inline-block;
    background: #FF523B;
    color: white;
    margin: 30px 20px;
    padding: 8px 30px;
    border-radius: 30px;
}

.header {
    background: radial-gradient(#FFF, #FFD6D6);
}